@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="jumbotron">
    <h1 class="display-4">Bienvenidos!</h1>
    <p class="lead">My primera aplicación con neptuno S.A.S</p>
    <hr class="my-4">
    <p>Modulo de Gestion de estudiantes</p>

</div>
